#ifndef VITA_LUNA_CREDENTIALS_H
#define VITA_LUNA_CREDENTIALS_H

// Login with Amazon (LWA) Public Client ID Template
// Replace with your Amazon Developer Security Profile Client ID
#define LUNA_AMAZON_CLIENT_ID "amzn1.application-oa2-client.YOUR_CLIENT_ID_HERE"

#endif // VITA_LUNA_CREDENTIALS_H
